
    header {
      background-color: #183C63;
      color: #ffffff;
      text-align: center;
      margin: 0 auto;
      padding: 16px;
      border: 5px solid #69c7f3;
    }

    main {
      background-color: #98caf0;
      color: #183C63;
      text-align: center;
      margin: 0 auto;
      padding: 16px;
    }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
}

    img {
      width: 80px;
      height: 80px;
    }

    .artigo-autor {
      font-weight: bold;
    }
  