
    header {
      background-color: #183C63;
      color: #ffffff;
      text-align: center;
      margin: 0 auto;
      padding: 16px;
      border: 5px solid #69c7f3;
    }

    main {
      background-color: #98caf0;
      color: #183C63;
      text-align: center;
      margin: 0 auto;
      padding: 16px;
    }

    article {
      display: flex;
    }

    img {
      width: 80px;
      height: 80px;
    }

    .artigo-autor {
      font-weight: bold;
    }
  